@media screen and (min-width:1024px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    a{
        font-size: 16px;
    }
}

@media screen and (max-width:1024px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 33px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    a{
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    a{
        font-size: 15px;
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    a{
        font-size: 13px;
    }
}